/* :root{
    --clr-primary:#7380ec;
    --clr-danger:#ff7782;
    --clr-success:#41f1b6;
    --clr-white:#fff;
    --clr-info-dark:#fff;
    --clr-info-light:#dce1eb;
    --clr-dark:#364639;
    --clr-warning:#ff4edc;
    --clr-light:rgba(132,139,200,0.18);
    --clr-primary-variant:#111e88;
    --clr-dark-variant:#677483;
    --clr-color-background:#f6f6f9;

    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;
    --box-shadow:0 2rem 3rem var(--clr-light);
} */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:0;
    list-style: none;
    appearance:none;
}

body{
    font-family:'poppins',sans-serif;
    width:100vw;
    font-size:0.88rem;
    user-select: none;
    overflow-x:hidden;
    /* background:var(--clr-color-background); */
}

.container{
    display:grid;
    width:96%;
    gap:1.8rem;
    grid-template-columns:14rem auto 14rem;
    margin:0 auto;
}
a{
    color:black;
}
h1{
    font-weight:800;
    font-size:1.8rem;
}
h2{
    font-size:1.4rem;
}
/* h3{
    font-size:0.87rem;
} */
h4{
    font-size:0.8rem;
}
h5{
    font-size:0.77rem;
}
small{
    font-size:0.75rem;
}
.profile-photo{
    width:2.8rem;
    height:2.8rem;
    border-radius:50%;
    overflow:hidden;
}
.text-muted{
    color:blue;
}
p{
    color:grey;  
}
b{
    color:black;  
}
.primary{
    color:blue; 
}
.success{
    color:green; 
}
.danger{
    color:red; 
}
.warning{
    color:yellow; 
}

/* aside */

aside{
    height:100vh;
}

aside .top{
    background-color:white;
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-top:1.4rem;
}
aside .logo{
    display: flex;
    gap:1rem;
}

aside .top div.close{
    display: none;
}

/* sidebar */
aside .sidebar{
    background-color:white;
    display: flex;
    flex-direction: column;
    height:85vh;
    position: relative;
    top:1rem;
}

/* aside .h3{
    font-weight:500;
} */
aside .sidebar a{
    display: flex;
    color:black;
    margin-left:2rem;
    gap:1rem;
    align-items: center;
    height:3.2rem;
    transition:all .1s ease-in;
}

aside .sidebar a span{
    font-size:1.6rem;
    transition:all .1s ease-in;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom:1rem;
    width:100%
}
aside .sidebar a.active{
    background:grey;
    color:var(--clr-primary);
    margin-left:0;
    border-left:5px solid blue;
}